/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

td {
   font-size: 14px;
}


.table-color-0 {
    background-color: #eee;
    color: #aaa;
}

.table-color-1 {
   background-color: #B2D8D8;
}
.table-color-2 {
   background-color: #D8CCE5;
}
.table-color-3 {
   background-color: #E5E0CC;
}


.table.list-files td {
    padding: 0 0.5rem;
    vertical-align: middle;
}


@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}
@media (min-width: 992px){
    .modal-dialog.modal-lg, .modal-dialog.modal-xl {
        max-width: 800px;
    }
}
@media (min-width: 1200px){
    .modal-dialog.modal-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1600px){
    .modal-dialog.modal-xl {
        max-width: 1480px;
        min-height: 80%;
    }
}