{{ define "organization_create" }}
{{ template "_header" .}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Create Organization</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">


                        <form id="my-form">
                            <div class="form-group">
                                <label for="org_name">Organization Name</label>
                                <input type="text" class="form-control" id="org_name" name="name" placeholder="Organization Name" oninput="updateFields()" >
                                <small  class="form-text text-muted">Пример: https://github.com/<code>some-organization</code>/proto-some-usecase</small>
                            </div>
                            <div class="form-group">
                                <label for="link_github">Local path for organization</label>
                                <input type="text" class="form-control" id="path" name="local_path"  placeholder="Link on github organization">
                                <small  class="form-text text-muted">Пример: <code>{{ .Path}}some-organization</code></small>
                            </div>
                            <div class="form-group">
                                <label for="link_github">Link on github organization</label>
                                <input type="text" class="form-control" id="link_github" name="github_url"  placeholder="Link on github organization">
                                <small  class="form-text text-muted">Пример: <code>https://github.com/some-organization</code></small>
                            </div>
                            <div class="form-group">
                                <label for="link_github">Link on gitlab organization</label>
                                <input type="text" class="form-control" id="link_gitlab" name="gitlab_url"  placeholder="Link on gitlab organization">
                                <small  class="form-text text-muted">Пример: <code>https://gitlab.com/some-organization/code/</code></small>
                            </div>



                            <button type="submit" class="btn btn-primary">Добавить </button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function updateFields() {
        const org_name = document.getElementById('org_name').value;
        document.getElementById('path').value = '{{ .Path}}' + org_name;
        document.getElementById('link_github').value = 'https://github.com/' + org_name;
        document.getElementById('link_gitlab').value = 'https://gitlab.com/' + org_name + '/code/';
    }

    document.getElementById('my-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Предотвратить стандартное поведение отправки формы

        const formData = new FormData(event.target);
        const jsonData = {};

        // Конвертировать данные формы в JSON
        for (const [key, value] of formData.entries()) {
            jsonData[key] = value;
        }

        const button = event.target.querySelector('button[type="submit"]');
        button.disabled = true; // Отключить кнопку
        button.innerHTML = '<i class="fa fa-spinner fa-spin"></i>'; // Заменить текст кнопки на иконку загрузки

        let start = Date.now(); // Время начала запроса

        // Вставить таймер рядом с кнопкой
        let timerDiv = document.createElement('div');
        timerDiv.id = 'timer';
        button.parentNode.insertBefore(timerDiv, button.nextSibling);

        let timer = setInterval(() => {
            let delta = Date.now() - start; // Как много времени прошло с начала
            let seconds = Math.floor(delta / 1000); // Преобразовать в секунды
            let milliseconds = delta % 1000; // Оставшиеся миллисекунды
            timerDiv.innerHTML = seconds + '.' + milliseconds + 's'; // Отобразить на таймере
        }, 10);

        // Отправить JSON данные на сервер
        fetch('/api/generate-organization-struct', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);

                // Заменить иконку загрузки на зелёную галочку
                button.innerHTML = '<i class="fa fa-check"></i>';
                button.classList.remove('btn-primary');
                button.classList.add('btn-success');

                clearInterval(timer); // Остановить таймер

                // Перенаправить пользователя после 2 секунд
                setTimeout(() => {
                    window.location.href = '/organization/' + data.Name;
                }, 2000);
            })
            .catch((error) => {
                console.error('Error:', error);

                button.disabled = false; // Включить кнопку
                button.innerHTML = 'Добавить'; // Восстановить текст кнопки
                clearInterval(timer); // Остановить таймер
                timerDiv.remove(); // Удалить таймер
            });
    });
</script>
{{ template "_footer" .}}
{{ end }}
