{{ define "organization_list" }}
{{ template "_header" .}}

<link rel="stylesheet"
      href="/static/css/highlight.min.css">
<script src="/static/js/highlight.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<div class="jumbotron jumbotron-fluid">

    <!-- Example row of columns -->

    <div class="console-button"><img
            src="/static/images/console.png"
            style="width: 100%"></div>

    <div class="jira-button"><img
            src="/static/images/jira.png"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 content-wrapper">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="organization" data-id="{{ .Organization.Id }}">Organization <small>{{
                                    .Organization.Name }}</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <button class="btn btn-primary pressAllCloneRep">Sync all spec</button>
                            <button class="btn btn-primary goGetAll">Go get all</button>
                            <button class="btn btn-primary" id="openModal" data-org-id="1">Get Docker compose</button>

                            <!-- Модальное окно -->
                            <div class="modal" tabindex="-1" id="myModal">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Docker Code</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <pre><code id="dockerCode" class="yaml"></code></pre>
                                            <!-- Блок для отображения кода Docker -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Модальное Добавления ветки -->
                            <div class="modal" id="addBranchModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Add Branch</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="addBranchForm">
                                                <div class="form-group">
                                                    <label for="branchName">Branch Name</label>
                                                    <input type="text" class="form-control" id="branchName"
                                                           placeholder="Enter branch name">
                                                    <input type="hidden" id="projectId">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="x_content">


                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th>
                                                <input type="checkbox" id="check-all" class="flat">
                                            </th>
                                            <th class="column-title">Id</th>
                                            <th class="column-title">Name</th>
                                            <th class="column-title">Specefication (Proto / Swagger)</th>
                                            <th class="column-title">Realisation</th>
                                            <th class="column-title no-link last"><span class="nobr">Actions</span>
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{ range .Projects }}
                                        <tr class="even pointer table-color-{{ .Type }}">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td>{{ .Id }}</td>
                                            <td>{{ .Name }}
                                                <div><span class="badge badge-primary">{{ .LocalPath}}</span></div>
                                            </td>
                                            <td><a href="{{ .SpecificationUrl }}" class="fa fa-link float-right"
                                                   target="_blank"></a>

                                                {{ if .SpecificationRepoInfo}}
                                                <span class="badge {{ if gt .SpecificationRepoInfo.ChangedFiles 0 }}badge-danger{{ else }}badge-light{{ end }}"><i
                                                        class="fa fa-code-fork"></i>
                                                                {{ .SpecificationRepoInfo.CurrentBranch }} / {{ .SpecificationRepoInfo.ChangedFiles }}
                                                        </span>
                                                {{ end }}
                                                <span class="badge badge-dark"><i class="fa fa-user"></i> {{ .SpecificationLastCommitAuthor }}</span>
                                                <span
                                                        class="badge badge-primary">{{ .SpecificationLastCommitName }}</span>
                                                {{ .SpecificationLastCommitTime | timeAgo }}

                                                {{ if .NewSpecificationCommitName }}
                                                <br>
                                                <span class="badge badge-dark">{{ .NewSpecificationCommitAuthor }}</span>
                                                <span class="badge badge-warning">{{ .NewSpecificationCommitName}}</span>
                                                {{
                                                .NewSpecificationCommitDate | timeAgo }}
                                                {{ end }}
                                                <br>
                                                <span class="badge badge-secondary">{{ .SpecificationReleaseTag }}</span>
                                                {{ if .NewSpecificationTag }}
                                                ->
                                                <span class="badge badge-success">{{ .NewSpecificationTag }}</span>
                                                {{ end }}
                                                <hr>
                                                {{ if eq .Type 1 }}

                                                <div class="btn btn-success btn-sm cloneRep"
                                                     title="Synchronize repository"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-protobuf"
                                                        data-project-id="{{ .Id }}" title="Generate Protobuff">protoc
                                                </button>

                                                {{ end }}


                                                {{ if eq .Type 2 }}

                                                <div class="btn btn-success btn-sm cloneRep" title="Synchronize usecase"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-protobuf"
                                                        data-project-id="{{ .Id }}" title="Generate Protobuff">protoc
                                                </button>
                                                {{ end }}

                                                {{ if eq .Type 3 }}
                                                <div class="btn btn-success btn-sm cloneGateway"
                                                     title="Synchronize gateway"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>
                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-swagger-server"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">
                                                    swagger
                                                </button>
                                                {{ end }}
                                            </td>
                                            <td><a href="{{ .RealisationUrl }}" class="fa fa-link float-right"
                                                   target="_blank"></a>
                                                {{ if .RealisationRepoInfo}}
                                                {{ if gt .RealisationRepoInfo.ChangedFiles 0 }}
                                                <span class="badge badge-danger"><i class="fa fa-code-fork"></i>
                                                                {{ .RealisationRepoInfo.CurrentBranch }} / {{ .RealisationRepoInfo.ChangedFiles }}
                                                        </span>
                                                {{ else }}
                                                <div class="dropdown" style="float: left; margin-right: 4px">
                                                    <span class="badge badge-light dropdown-toggle"
                                                          id="dropdownMenuRealisation-{{ .Id }}" data-toggle="dropdown"
                                                          aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-code-fork"></i>   {{ .RealisationRepoInfo.CurrentBranch }} / {{ .RealisationRepoInfo.ChangedFiles }}
                                                    </span>

                                                    <div class="dropdown-menu"
                                                         aria-labelledby="dropdownMenuRealisation-{{ .Id }}">
                                                        {{ $id := .Id }}
                                                        {{ range .RealisationRepoInfo.BranchList }}
                                                        <a class="dropdown-item branch-item" data-project-id="{{ $id }}"
                                                           data-branch="{{ . }}" href="#"> <i
                                                                class="fa fa-code-fork"></i> {{ . }}</a>
                                                        {{ end }}
                                                        <a class="dropdown-item add-branch" href="#"
                                                           data-project-id="{{ $id }}"> <i class="fa fa-plus"></i> add
                                                            branch</a>
                                                    </div>
                                                </div>
                                                {{ end }}
                                                {{ end }}

                                                <span class="badge badge-dark">{{ .RealisationLastCommitAuthor }}</span>
                                                <span
                                                        class="badge badge-primary">{{ .RealisationLastCommitName }}</span>
                                                {{ .RealisationLastCommitTime | timeAgo }}

                                                {{ if .NewRealisationCommitName }}
                                                <br>
                                                <span class="badge badge-dark">{{ .NewRealisationCommitAuthor }}</span>
                                                <span class="badge badge-warning">{{ .NewRealisationCommitName}}</span>
                                                {{
                                                .NewRealisationCommitDate | timeAgo }}
                                                {{ end }}
                                                <br>
                                                <span class="badge badge-secondary">{{ .RealisationReleaseTag }}</span>
                                                {{ if .NewRealisationTag }}
                                                ->
                                                <span class="badge badge-success">{{ .NewRealisationTag }}</span>
                                                {{ end }}
                                                <hr>

                                                <div class="btn btn-secondary btn-sm syncRealisation       {{ if .NewRealisationCommitName }} btn-success{{ end }}"
                                                     title="Synchronize repository"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>

                                                {{ if eq .Type 1 }}

                                                <button class="btn btn-primary btn-sm sshCommand goGetRealisation"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>

                                                {{ end }}


                                                {{ if eq .Type 2 }}

                                                <button class="btn btn-primary btn-sm sshCommand goGetRealisation"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>
                                                {{ end }}

                                                {{ if eq .Type 3 }}
                                                <button class="btn btn-primary btn-sm sshCommand goGetRealisation"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>
                                                {{ end }}
                                            </td>

                                            <td class=" last">
                                                {{ if .IsNewProject }}

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="btn btn-danger create-new-project"
                                                             title="Create project"
                                                             data-project="{{ .Name }}"><i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="checkbox" name="" checked> <label> Файлы
                                                        реализации</label>
                                                        <br>
                                                        <input type="checkbox" name="" checked> <label>

                                                        {{ if eq .Type 1 }}Протофайлы {{ end }}
                                                        {{ if eq .Type 2 }}Протофайлы {{ end }}
                                                        {{ if eq .Type 3 }}Файлы спецификаций {{ end }}

                                                    </label>
                                                    </div>
                                                </div>
                                                {{ else }}


                                                {{ if eq .Type 1 }}
                                                <button class="btn btn-primary btn-sm loadData" data-type="entity"
                                                        data-project-id="{{ .Id }}" title="entity" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>E
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="migration"
                                                        data-project-id="{{ .Id }}" title="Migration" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>M
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="service"
                                                        data-project-id="{{ .Id }}" title="Service" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>S
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="test"
                                                        data-project-id="{{ .Id }}" title="Test File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>T
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="general"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>G
                                                </button>
                                                <button class="btn btn-success btn-sm loadData" data-type="all"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>All
                                                </button>


                                                {{ end }}

                                                {{ if eq .Type 2 }}

                                                {{ end }}

                                                {{ if eq .Type 3 }}

                                                <button class="btn btn-success btn-sm loadData" data-type="gateway"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>All
                                                </button>

                                                {{ end }}

                                                {{ end }}

                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="100%">
                                                <div class="data-projectid data-projectid-{{ .Id }}"></div>
                                            </td>
                                        </tr>
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 console-wrapper" style="display: none">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="content come-in">
                        <header>
                            <div class="buttons">
                                <div class="close-console" title="Очистить"></div>
                                <div class="full-console" title="На весь экран"></div>
                                <div class="mini-console" title="Минимизировать"></div>
                            </div>
                            <h1>gschier@{{ .Organization.Name }}: {{ .Organization.LocalPath}} (zsh)</h1>
                        </header>
                        <section class="console-container console">
                            <p class="prompt">
                                <span class="green">{{ .Organization.Name }}</span>
                                <span class="yellow">{{ .Organization.GithubUrl }}</span>
                                <span class="red">⇒</span> {{ .Organization.LocalPath}}
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4 task-wrapper" style="display: none">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="statusDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Выберите статус
                            </button>
                            <div class="dropdown-menu" aria-labelledby="statusDropdownButton" id="statusDropdown">
                                <!-- Статусы будут добавлены здесь -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="tasks">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="compareModal" tabindex="-1" role="dialog"
     aria-labelledby="compareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compareModalLabel">Code Comparison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="container" style="height: 800px;"></div>
            </div>
        </div>
    </div>
</div>

ß

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
<script>

    function fetchData(projectId, parts) {

        $('.data-projectid').html("");

        parts.forEach((part) => {
            $.ajax({
                url: '/api/generate-' + part,
                type: 'GET',
                dataType: 'json',
                data: {
                    project_id: projectId
                },
                success: function (response) {
                    const filesPreviews = response;

                    let content = filesPreviews.map(filesPreview => {
                        var hash = Math.random().toString(36).substring(7);
                        var label = '';

                        if (!filesPreview.has_file) {
                            label = `<span class="badge badge-success">New</span>`
                        }
                        if (filesPreview.has_file && !filesPreview.has_diff) {
                            label = `<span class="badge badge-secondary">same</span>`
                        }
                        if (filesPreview.has_file && filesPreview.has_diff) {
                            label = `<span class="badge badge-warning">diff</span>`
                        }

                        return `
                            <tr class="file-preview">
                                <td><input type="checkbox"  class="file-checkbox"></td>
                                <td class="file-path">${label} <span class="file-path-only">${filesPreview.file_path}</span></td>
                                <td>${filesPreview.has_file}</td>
                                <td>${filesPreview.has_diff}</td>
                                <td>
                                             <div style="display: none" class="codeleft ${projectId}-${hash}-left">${filesPreview.old_code}</div>
                                            <div style="display: none" class="coderight ${projectId}-${hash}-right">${filesPreview.new_code}</div>
                                            <button class="btn btn-primary btn-sm compare-btn" data-toggle="modal" data-target="#compareModal" data-code="${projectId}-${hash}">Compare Code</button>
                                </td>
                            </tr>
                        `;
                    }).join('');


                    content = `<div class="${part}">
                                <h2>Generate ${part} files</h2>
                                <div class="table-responsive-lg">
                                  <table class="table list-files">
                                        <tr class="file-preview">
                                            <td><input type="checkbox"></td>
                                            <td>File Path </td>
                                            <td>Has File</td>
                                            <td>Has Diff</td>
                                            <td>Actions</td>
                                        </tr>
                                     ${content}
                                  </table>
                                </div>
                                </div>

                                 <button class="btn btn-success btn-sm save-files">Save ALL checked</button>
                            `;

                    $('.data-projectid-' + projectId).html($('.data-projectid-' + projectId).html() + content);
                    $('.table.list-files', document).each(function () {
                        const $table = $(this);
                        const $firstCheckbox = $table.find('tr.file-preview:first-child input[type="checkbox"]');
                        const $allCheckboxes = $table.find('tr.file-preview input[type="checkbox"]');

                        $firstCheckbox.on('change', function () {
                            const isChecked = $(this).prop('checked');
                            $allCheckboxes.prop('checked', isChecked);
                        });
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error: " + textStatus + "; " + errorThrown);
                }
            });
        });
    }

    $(document).ready(function () {

        function getBadgeClass(status) {
            switch (status.toUpperCase()) {
                case 'ГОТОВО':
                    return 'badge-success';
                case 'К ВЫПОЛНЕНИЮ':
                    return 'badge-danger';
                case 'REVIEW':
                    return 'badge-warning';
                default:
                    return 'badge-primary';
            }
        }

        // Список задач
        function GetTasks(status){
            $.ajax({
                url: "/api/jira/list-task",
                type: "GET",
                dataType: "json",
                data: {
                    status: status, // Здесь мы передаем выбранный статус как параметр запроса
                    organization_id: {{ .Organization.Id}}, // Здесь мы передаем выбранный статус как параметр запроса
                },
                success: function(data) {
                    if (data.err) {
                        console.error(data.err);
                        return;
                    }
                    $(".tasks").html("")
                    let tasks = data.tasks;
                    for (let i = 0; i < tasks.length; i++) {
                        let task = tasks[i];
                        let badgeClass = getBadgeClass(task.status);
                        let taskHtml = '<div class="col-md-12">' +
                            '<div class="card">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' +
                            '<span class="badge ' + badgeClass + ' float-right">' + task.status + '</span>' + // Статус
                            task.issue_key + // Ключ задачи
                            '</h5>' +
                            '<p class="card-text">' + task.summary + '</p>' + // Название задачи
                            '<div class="d-flex justify-content-between align-items-center task-user-img">' +
                            '<div>' +
                            '<img src="' + task.assignee_img + '" class="rounded-circle" alt="User Image">' + // Изображение пользователя
                            '</div>' +
                            '<div>' +
                            '<button class="btn btn-primary">Создать ветку</button>' + // Кнопка создания ветки
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        $(".tasks").append(taskHtml);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error(textStatus, errorThrown);
                }
            });
        }


        function GetTaskSattus() {
            $.ajax({
                url: '/api/jira/list-status',
                type: 'GET',
                success: function(data) {
                    $('#statusDropdown').html("")
                    // Добавляем каждый статус в выпадающий список
                    $('#statusDropdown').append(' <a class="dropdown-item" href="#" data-status="">Все статусы</a>');
                    $.each(data.statuses, function(index, status) {
                        $('#statusDropdown').append('<a class="dropdown-item" href="#" data-status="'+status.id+'">'+status.name+'</a>');
                    });
                }
            });
        }


        $('#statusDropdown').on('click', 'a', function(e) {
            e.preventDefault();

            // Устанавливаем выбранный статус на кнопке
            $('#statusDropdownButton').text($(this).text());


            GetTasks($(this).data('status'))
            // Запрашиваем задачи с выбранным статусом

        });


        // Открываем модальное окно при клике на 'add branch'
        $(document).on('click', '.add-branch', function (e) {
            e.preventDefault();
            var projectId = $(this).data('project-id');
            $('#projectId').val(projectId);
            $('#addBranchModal').modal('show');
        });

        // Отправляем форму
        $('#addBranchForm').on('submit', function (e) {
            e.preventDefault();
            var projectId = $('#projectId').val();
            var branchName = $('#branchName').val();

            // Выполняем AJAX-запрос
            $.ajax({
                url: '/api/git/create-branch',
                method: 'GET',
                data: {
                    project_id: projectId,
                    branch: branchName
                },
                success: function (data) {
                    // Обновляем текст в элементе dropdown-toggle
                    $('#dropdownMenuRealisation-' + projectId).html('<i class="fa fa-code-fork"></i> ' + branchName + ' / 0');
                    // Закрываем модальное окно
                    $('#addBranchModal').modal('hide');
                }
            });
        });


        // Слушаем клик по элементу с классом branch-item
        $('.branch-item').on('click', function (e) {
            e.preventDefault(); // предотвращаем переход по ссылке

            // Получаем id проекта и название ветки
            var projectId = $(this).data('project-id');
            var branch = $(this).data('branch');

            // Выполняем AJAX-запрос
            $.ajax({
                url: '/api/git/checkout',
                data: {
                    project_id: projectId,
                    branch: branch
                },
                success: function (data) {
                    // Обновляем текст в элементе dropdown-toggle
                    $('#dropdownMenuRealisation-' + projectId).html('<i class="fa fa-code-fork"></i> ' + branch + ' / 0');
                }
            });
        });

        // запрос на генерацию докер композа
        $('#openModal').click(function () {
            var orgId = $(this).data('org-id');
            $.ajax({
                url: '/api/generate-docker?organization_id=' + orgId,
                type: 'GET',
                success: function (res) {
                    if (res.err) {
                        alert('Error: ' + res.err);
                    } else {
                        $('#dockerCode').text(res.code);
                        hljs.highlightBlock($('#dockerCode')[0]);  // подсвечиваем код
                        $('#myModal').modal('show');
                    }
                },
                error: function (err) {
                    alert('AJAX error: ' + err);
                }
            });
        });

        // CONSOLE


        $('.console-button').click(function () {
            $('.console-wrapper').show();
            $('.content-wrapper')
                .removeClass('col-md-12 col-sm-12 col-xs-12')
                .addClass('col-md-8 col-sm-8 col-xs-8');
            $('.task-wrapper').hide();
        });

        $('.jira-button').click(function () {
            $('.console-wrapper').hide();
            GetTasks()
            GetTaskSattus()
            $('.task-wrapper').show();
            $('.content-wrapper')
                .removeClass('col-md-12 col-sm-12 col-xs-12')
                .addClass('col-md-8 col-sm-8 col-xs-8');

        });

        $('.close-console').click(function () {
            $('.console-wrapper').hide();
            $('.content-wrapper')
                .removeClass('col-md-8 col-sm-8 col-xs-8')
                .addClass('col-md-12 col-sm-12 col-xs-12');
        });


        $('.full-console').on('click', function () {
            $(".come-in").addClass("full-size")
            $('.content-wrapper')
                .removeClass('col-md-8 col-sm-8 col-xs-8')
                .addClass('col-md-12 col-sm-12 col-xs-12');
        });
        $('.mini-console').on('click', function () {
            $(".come-in").removeClass("full-size")
            $('.content-wrapper')
                .removeClass('col-md-12 col-sm-12 col-xs-12')
                .addClass('col-md-8 col-sm-8 col-xs-8');
        });


        $('.loadData').on('click', function () {
            let type = [$(this).data("type")]
            const projectId = $(this).data('project-id');

            if ($(this).data("type") == 'all') {
                type = ['entity', 'migration', 'service', 'test', 'general'];
            }

            fetchData(projectId, type);
        });


        var button = $('.btn.create-new-project');
        var originalButtonHtml = button.html();  // сохраняем оригинальное содержимое кнопки

        button.click(function () {
            var organizationId = $('h2.organization').data('id');
            var projectName = $(this).data('project');

            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');
            button.html(loadingIcon);  // заменяем содержимое кнопки на иконку загрузки

            $.get('/api/create-project', {organization_id: organizationId, project_name: projectName})
                .done(function (data) {
                    // успешное выполнение запроса
                    location.reload(); // обновить страницу
                })
                .fail(function () {
                    // ошибка выполнения запроса
                    console.error('Не удалось создать проект');
                })
                .always(function () {
                    // возвращаем оригинальное содержимое кнопки независимо от результата запроса
                    button.html(originalButtonHtml);
                });
        });


        var sshButton = $('.btn.sshCommand');
        var originalButtonHtml = button.html(); // сохраняем оригинальное содержимое кнопки

        sshButton.click(function () {
            var thisButton = $(this); // ссылка на нажатую кнопку
            var projectId = thisButton.data('project-id');
            var dataType = thisButton.data('type');
            var url = '/ssh/' + dataType + '?project_id=' + projectId;

            var originalButtonHtml = thisButton.html(); // сохраняем оригинальное содержимое нажатой кнопки
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');
            thisButton.html(loadingIcon); // заменяем содержимое нажатой кнопки на иконку загрузки

            $.get(url)
                .done(function (data) {
                    // успешное выполнение запроса
                    // alert('Success!');
                })
                .fail(function () {
                    // ошибка выполнения запроса
                    // alert('An error occurred');
                })
                .always(function () {
                    // возвращаем нажатой кнопке оригинальное содержимое независимо от результата запроса
                    thisButton.html(originalButtonHtml);
                });
        });

    });


    document.addEventListener('DOMContentLoaded', function () {
        let compareEditor;
        let codeLeft;
        let codeRight;
        let currentClassBlock;

        const initCompareEditor = (leftCode, rightCode, classBlock) => {
            if (compareEditor) {
                compareEditor.dispose();
                compareEditor = null;
            }

            require.config({paths: {vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs'}});
            require(['vs/editor/editor.main'], function () {
                compareEditor = monaco.editor.createDiffEditor(document.getElementById('container'), {
                    originalEditable: true,
                    readOnly: false,
                    language: 'go',
                });

                let originalModel = monaco.editor.createModel(leftCode, 'go');
                let modifiedModel = monaco.editor.createModel(rightCode, 'go');

                compareEditor.setModel({
                    original: originalModel,
                    modified: modifiedModel,
                });

                modifiedModel.onDidChangeContent(function (e) {
                    $("." + classBlock + "-right", document).html(modifiedModel.getValue());
                });
            });
        };

        // Открытие модального окна
        $(document).on('click', '.compare-btn', function () {
            currentClassBlock = $(this).data("code");
            console.log(currentClassBlock)
            codeLeft = $("." + currentClassBlock + "-left", document).html()
            codeRight = $("." + currentClassBlock + "-right", document).html()
            $(".file-preview", document).removeClass("active")
            $(this).closest(".file-preview").addClass("active")
        });

        // Открытие модального окна
        $('#compareModal').on('shown.bs.modal', function () {
            initCompareEditor(codeLeft, codeRight, currentClassBlock);
        });

        // Закрытие модального окна
        $('#compareModal').on('hidden.bs.modal', function () {
            if (compareEditor) {
                compareEditor.dispose();
                compareEditor = null;
            }
        });
    });

    async function sendFilesToServer(files) {
        files = files || collectFilesData();
        for (const file of files) {
            const formData = new FormData();
            formData.append("filepath", file.filepath);
            formData.append("code", file.code);

            const response = await fetch("/api/save-file", {
                method: "POST",
                body: formData,
            });

            if (response.ok) {
                console.log(`File ${file.filepath} successfully saved`);
            } else {
                console.log(`Error while saving file ${file.filepath}`);
            }
        }
        console.log("All files processed");
    }


    function collectFilesData() {
        const files = [];

        $('.file-preview').each(function () {
            const isChecked = $(this).find('.file-checkbox').prop('checked');
            if (!isChecked) return;

            const filePath = $(this).find('.file-path-only').text();
            const code = $(this).find('.coderight').text();

            files.push({
                filepath: filePath,
                code: code,
            });
        });

        return files;
    }

    $(document).on('click', '.save-files', function () {
        sendFilesToServer();
    });

    $(document).ready(function () {
        $('.cloneRep').on('click', function () {
            var button = $(this);
            var projectId = button.data('project-id');
            var originalIcon = button.find('i');
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');

            // Замена иконки на иконку загрузки
            button.html(loadingIcon);

            // Выполнение запроса
            $.ajax({
                url: '/api/clone-repository',
                type: 'GET',
                data: {project_id: projectId},
                success: function (data) {
                    // Обработка успешного выполнения запроса
                    console.log('Успешно:', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Обработка ошибок выполнения запроса
                    console.error('Ошибка:', textStatus, errorThrown);
                },
                complete: function () {
                    // Возврат исходной иконки после выполнения запроса
                    button.html(originalIcon);
                    // Изменение цвета кнопки на серый
                    button.removeClass('btn-success').addClass('btn-secondary').attr('disabled', true);
                }
            });
        });

        $('.cloneGateway').on('click', function () {
            var button = $(this);
            var projectId = button.data('project-id');
            var originalIcon = button.find('i');
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');

            // Замена иконки на иконку загрузки
            button.html(loadingIcon);

            // Выполнение запроса
            $.ajax({
                url: '/api/clone-gateway',
                type: 'GET',
                data: {project_id: projectId},
                success: function (data) {
                    // Обработка успешного выполнения запроса
                    console.log('Успешно:', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Обработка ошибок выполнения запроса
                    console.error('Ошибка:', textStatus, errorThrown);
                },
                complete: function () {
                    // Возврат исходной иконки после выполнения запроса
                    button.html(originalIcon);
                    // Изменение цвета кнопки на серый
                    button.removeClass('btn-success').addClass('btn-secondary').attr('disabled', true);
                }
            });
        });

        $('.syncRealisation').on('click', function () {
            var button = $(this);
            var projectId = button.data('project-id');
            var originalIcon = button.find('i');
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');

            // Замена иконки на иконку загрузки
            button.html(loadingIcon);

            // Выполнение запроса
            $.ajax({
                url: '/api/sync-realisation',
                type: 'GET',
                data: {project_id: projectId},
                success: function (data) {
                    // Обработка успешного выполнения запроса
                    console.log('Успешно:', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Обработка ошибок выполнения запроса
                    console.error('Ошибка:', textStatus, errorThrown);
                },
                complete: function () {
                    // Возврат исходной иконки после выполнения запроса
                    button.html(originalIcon);
                    // Изменение цвета кнопки на серый
                    button.removeClass('btn-success').addClass('btn-secondary').attr('disabled', true);
                }
            });
        });

        // Кнопка для нажатия всех кнопок 'cloneRep'
        $('.pressAllCloneRep').on('click', function () {
            $('.cloneRep').click();
            $('.cloneGateway').click();
        });

        // Кнопка для нажатия всех кнопок 'Go get '
        $('.goGetAll').on('click', function () {
            $('.goGetRealisation').click();
        });
    });

</script>

{{ template "_footer" .}}
{{ end }}
