{{ define "organization_list" }}
{{ template "_header" .}}


<div class="jumbotron jumbotron-fluid">

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">


                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 class="organization" data-id="{{ .Organization.Id }}">Organization <small>{{
                                    .Organization.Name }}</small></h2>

                                <div class="clearfix"></div>
                            </div>
                            <button class="btn btn-primary pressAllCloneRep">Clone all repositories</button>

                            <div class="x_content">

                                <p>Add class <code>bulk_action</code> to table for bulk actions options on row
                                    select</p>

                                <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th>
                                                <input type="checkbox" id="check-all" class="flat">
                                            </th>
                                            <th class="column-title">Id</th>
                                            <th class="column-title">Name</th>
                                            <th class="column-title">Specefication (Proto / Swagger)</th>
                                            <th class="column-title">Realisation</th>
                                            <th class="column-title no-link last"><span class="nobr">Actions</span>
                                            </th>

                                        </tr>
                                        </thead>

                                        <tbody>
                                        {{ range .Projects }}
                                        <tr class="even pointer table-color-{{ .Type }}">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td>{{ .Id }}</td>
                                            <td>{{ .Name }}
                                                <div><span class="badge badge-primary">{{ .LocalPath}}</span></div>
                                            </td>
                                            <td><a href="{{ .SpecificationUrl }}" class="fa fa-link float-right" target="_blank"></a>
                                                <span class="badge badge-warning"><i class="fa fa-code-fork"></i> main</span>
                                                <span class="badge badge-dark"><i class="fa fa-user"></i> {{ .SpecificationLastCommitAuthor }}</span>
                                                <span
                                                        class="badge badge-primary">{{ .SpecificationLastCommitName }}</span>
                                                {{ .SpecificationLastCommitTime | timeAgo }}

                                                {{ if .NewSpecificationCommitName }}
                                                <br>
                                                <span class="badge badge-dark">{{ .NewSpecificationCommitAuthor }}</span>
                                                <span class="badge badge-warning">{{ .NewSpecificationCommitName}}</span> {{
                                                .NewSpecificationCommitDate | timeAgo }}
                                                {{ end }}
                                                <br>
                                                <span class="badge badge-secondary">{{ .SpecificationReleaseTag }}</span>
                                                {{ if .NewSpecificationTag }}
                                                ->
                                                <span class="badge badge-success">{{ .NewSpecificationTag }}</span>
                                                {{ end }}
                                                <hr>
                                                {{ if eq .Type 1 }}

                                                <div class="btn btn-success btn-sm cloneRep"
                                                     title="Synchronize repository"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-protobuf"
                                                        data-project-id="{{ .Id }}" title="Generate Protobuff">protoc
                                                </button>

                                                {{ end }}


                                                {{ if eq .Type 2 }}

                                                <div class="btn btn-success btn-sm cloneRep" title="Synchronize usecase"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-protobuf"
                                                        data-project-id="{{ .Id }}" title="Generate Protobuff">protoc
                                                </button>
                                                {{ end }}

                                                {{ if eq .Type 3 }}
                                                <div class="btn btn-success btn-sm cloneGateway"
                                                     title="Synchronize gateway"
                                                     data-project-id="{{ .Id }}"><i class="fa fa-refresh"></i>
                                                </div>
                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-swagger-server"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">
                                                    swagger
                                                </button>
                                                {{ end }}
                                            </td>
                                            <td><a href="{{ .RealisationUrl }}" class="fa fa-link float-right" target="_blank"></a>
                                                <span class="badge badge-dark">{{ .RealisationLastCommitAuthor }}</span>
                                                <span
                                                        class="badge badge-primary">{{ .RealisationLastCommitName }}</span>
                                                {{ .RealisationLastCommitTime | timeAgo }}

                                                {{ if .NewRealisationCommitName }}
                                                <br>
                                                <span class="badge badge-dark">{{ .NewRealisationCommitAuthor }}</span>
                                                <span class="badge badge-warning">{{ .NewRealisationCommitName}}</span> {{
                                                .NewRealisationCommitDate | timeAgo }}
                                                {{ end }}
                                                <br>
                                                <span class="badge badge-secondary">{{ .RealisationReleaseTag }}</span>
                                                {{ if .NewRealisationTag }}
                                                ->
                                                <span class="badge badge-success">{{ .NewRealisationTag }}</span>
                                                {{ end }}
                                                <hr>
                                                {{ if eq .Type 1 }}

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>

                                                {{ end }}


                                                {{ if eq .Type 2 }}

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>
                                                {{ end }}

                                                {{ if eq .Type 3 }}
                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>
                                                {{ end }}
                                            </td>

                                            <td class=" last">
                                                {{ if .IsNewProject }}

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="btn btn-danger create-new-project"
                                                             title="Create project"
                                                             data-project="{{ .Name }}"><i class="fa fa-plus"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="checkbox" name="" checked> <label> Файлы
                                                        реализации</label>
                                                        <br>
                                                        <input type="checkbox" name="" checked> <label>

                                                        {{ if eq .Type 1 }}Протофайлы {{ end }}
                                                        {{ if eq .Type 2 }}Протофайлы {{ end }}
                                                        {{ if eq .Type 3 }}Файлы спецификаций {{ end }}

                                                    </label>
                                                    </div>
                                                </div>
                                                {{ else }}


                                                {{ if eq .Type 1 }}
                                                <button class="btn btn-primary btn-sm loadData" data-type="entity"
                                                        data-project-id="{{ .Id }}" title="entity" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>E
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="migration"
                                                        data-project-id="{{ .Id }}" title="Migration" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>M
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="service"
                                                        data-project-id="{{ .Id }}" title="Service" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>S
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="test"
                                                        data-project-id="{{ .Id }}" title="Test File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>T
                                                </button>
                                                <button class="btn btn-primary  btn-sm loadData" data-type="general"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>G
                                                </button>
                                                <button class="btn btn-warning btn-sm loadData" data-type="all"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>All
                                                </button>


                                                {{ end }}

                                                {{ if eq .Type 2 }}
                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="generate-protobuf"
                                                        data-project-id="{{ .Id }}" title="Generate Protobuff">protoc
                                                </button>
                                                {{ end }}

                                                {{ if eq .Type 3 }}

                                                <button class="btn btn-warning btn-sm loadData" data-type="gateway"
                                                        data-project-id="{{ .Id }}" title="General File" {{ if not
                                                        .HasClone
                                                        }}disabled{{ end }}>All
                                                </button>

                                                {{ end }}

                                                {{ end }}

                                                <button class="btn btn-primary btn-sm sshCommand"
                                                        data-type="update-and-tidy-modules"
                                                        data-project-id="{{ .Id }}" title="go get -u && go mod tidy">go
                                                    get
                                                </button>

                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="100%">
                                                <div class="data-projectid data-projectid-{{ .Id }}"></div>
                                            </td>
                                        </tr>
                                        {{ end }}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="content come-in">
                        <header>
                            <div class="buttons">
                                <div class="close-console" title="Очистить"></div>
                                <div class="full-console" title="На весь экран"></div>
                                <div class="mini-console" title="Минимизировать"></div>
                            </div>
                            <h1>gschier@{{ .Organization.Name }}: {{ .Organization.LocalPath}} (zsh)</h1>
                        </header>
                        <section class="console-container console">
                            <p class="prompt">
                                <span class="green">{{ .Organization.Name }}</span>
                                <span class="yellow">{{ .Organization.GithubUrl }}</span>
                                <span class="red">⇒</span> {{ .Organization.LocalPath}}
                            </p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="compareModal" tabindex="-1" role="dialog"
     aria-labelledby="compareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compareModalLabel">Code Comparison</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="container" style="height: 800px;"></div>
            </div>
        </div>
    </div>
</div>

ß

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.min.js"></script>
<script>

    function fetchData(projectId, parts) {

        $('.data-projectid').html("");

        parts.forEach((part) => {
            $.ajax({
                url: '/api/generate-' + part,
                type: 'GET',
                dataType: 'json',
                data: {
                    project_id: projectId
                },
                success: function (response) {
                    const filesPreviews = response;

                    let content = filesPreviews.map(filesPreview => {
                        var hash = Math.random().toString(36).substring(7);
                        var label = '';

                        if (!filesPreview.has_file) {
                            label = `<span class="badge badge-success">New</span>`
                        }
                        if (filesPreview.has_file && !filesPreview.has_diff) {
                            label = `<span class="badge badge-secondary">same</span>`
                        }
                        if (filesPreview.has_file && filesPreview.has_diff) {
                            label = `<span class="badge badge-warning">diff</span>`
                        }

                        return `
                            <tr class="file-preview">
                                <td><input type="checkbox"  class="file-checkbox"></td>
                                <td class="file-path">${label} <span class="file-path-only">${filesPreview.file_path}</span></td>
                                <td>${filesPreview.has_file}</td>
                                <td>${filesPreview.has_diff}</td>
                                <td>
                                             <div style="display: none" class="codeleft ${projectId}-${hash}-left">${filesPreview.old_code}</div>
                                            <div style="display: none" class="coderight ${projectId}-${hash}-right">${filesPreview.new_code}</div>
                                            <button class="btn btn-primary btn-sm compare-btn" data-toggle="modal" data-target="#compareModal" data-code="${projectId}-${hash}">Compare Code</button>
                                </td>
                            </tr>
                        `;
                    }).join('');


                    content = `<div class="${part}">
                                <h2>Generate ${part} files</h2>
                                <div class="table-responsive-lg">
                                  <table class="table list-files">
                                        <tr class="file-preview">
                                            <td><input type="checkbox"></td>
                                            <td>File Path </td>
                                            <td>Has File</td>
                                            <td>Has Diff</td>
                                            <td>Actions</td>
                                        </tr>
                                     ${content}
                                  </table>
                                </div>
                                </div>

                                 <button class="btn btn-success btn-sm save-files">Save ALL checked</button>
                            `;

                    $('.data-projectid-' + projectId).html($('.data-projectid-' + projectId).html() + content);
                    $('.table.list-files', document).each(function () {
                        const $table = $(this);
                        const $firstCheckbox = $table.find('tr.file-preview:first-child input[type="checkbox"]');
                        const $allCheckboxes = $table.find('tr.file-preview input[type="checkbox"]');

                        $firstCheckbox.on('change', function () {
                            const isChecked = $(this).prop('checked');
                            $allCheckboxes.prop('checked', isChecked);
                        });
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error: " + textStatus + "; " + errorThrown);
                }
            });
        });
    }

    $(document).ready(function () {


        // CONSOLE


        $('.close-console').on('click', function () {
            $(".console-container").html("<p class='prompt'>" + $(".console-container p:first-child").html() + "</p>")
        });
        $('.full-console').on('click', function () {
            $(".come-in").addClass("full-size")
        });
        $('.mini-console').on('click', function () {
            $(".come-in").removeClass("full-size")

        });


        $('.loadData').on('click', function () {
            let type = [$(this).data("type")]
            const projectId = $(this).data('project-id');

            if ($(this).data("type") == 'all') {
                type = ['entity', 'migration', 'service', 'test', 'general'];
            }

            fetchData(projectId, type);
        });


        var button = $('.btn.create-new-project');
        var originalButtonHtml = button.html();  // сохраняем оригинальное содержимое кнопки

        button.click(function () {
            var organizationId = $('h2.organization').data('id');
            var projectName = $(this).data('project');

            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');
            button.html(loadingIcon);  // заменяем содержимое кнопки на иконку загрузки

            $.get('/api/create-project', {organization_id: organizationId, project_name: projectName})
                .done(function (data) {
                    // успешное выполнение запроса
                    location.reload(); // обновить страницу
                })
                .fail(function () {
                    // ошибка выполнения запроса
                    console.error('Не удалось создать проект');
                })
                .always(function () {
                    // возвращаем оригинальное содержимое кнопки независимо от результата запроса
                    button.html(originalButtonHtml);
                });
        });


        var sshButton = $('.btn.sshCommand');
        var originalButtonHtml = button.html(); // сохраняем оригинальное содержимое кнопки

        sshButton.click(function () {
            var thisButton = $(this); // ссылка на нажатую кнопку
            var projectId = thisButton.data('project-id');
            var dataType = thisButton.data('type');
            var url = '/ssh/' + dataType + '?project_id=' + projectId;

            var originalButtonHtml = thisButton.html(); // сохраняем оригинальное содержимое нажатой кнопки
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');
            thisButton.html(loadingIcon); // заменяем содержимое нажатой кнопки на иконку загрузки

            $.get(url)
                .done(function (data) {
                    // успешное выполнение запроса
                    // alert('Success!');
                })
                .fail(function () {
                    // ошибка выполнения запроса
                    // alert('An error occurred');
                })
                .always(function () {
                    // возвращаем нажатой кнопке оригинальное содержимое независимо от результата запроса
                    thisButton.html(originalButtonHtml);
                });
        });

    });


    document.addEventListener('DOMContentLoaded', function () {
        let compareEditor;
        let codeLeft;
        let codeRight;
        let currentClassBlock;

        const initCompareEditor = (leftCode, rightCode, classBlock) => {
            if (compareEditor) {
                compareEditor.dispose();
                compareEditor = null;
            }

            require.config({paths: {vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs'}});
            require(['vs/editor/editor.main'], function () {
                compareEditor = monaco.editor.createDiffEditor(document.getElementById('container'), {
                    originalEditable: true,
                    readOnly: false,
                    language: 'go',
                });

                let originalModel = monaco.editor.createModel(leftCode, 'go');
                let modifiedModel = monaco.editor.createModel(rightCode, 'go');

                compareEditor.setModel({
                    original: originalModel,
                    modified: modifiedModel,
                });

                modifiedModel.onDidChangeContent(function (e) {
                    $("." + classBlock + "-right", document).html(modifiedModel.getValue());
                });
            });
        };

        // Открытие модального окна
        $(document).on('click', '.compare-btn', function () {
            currentClassBlock = $(this).data("code");
            console.log(currentClassBlock)
            codeLeft = $("." + currentClassBlock + "-left", document).html()
            codeRight = $("." + currentClassBlock + "-right", document).html()
            $(".file-preview", document).removeClass("active")
            $(this).closest(".file-preview").addClass("active")
        });

        // Открытие модального окна
        $('#compareModal').on('shown.bs.modal', function () {
            initCompareEditor(codeLeft, codeRight, currentClassBlock);
        });

        // Закрытие модального окна
        $('#compareModal').on('hidden.bs.modal', function () {
            if (compareEditor) {
                compareEditor.dispose();
                compareEditor = null;
            }
        });
    });

    async function sendFilesToServer(files) {
        files = files || collectFilesData();
        for (const file of files) {
            const formData = new FormData();
            formData.append("filepath", file.filepath);
            formData.append("code", file.code);

            const response = await fetch("/api/save-file", {
                method: "POST",
                body: formData,
            });

            if (response.ok) {
                console.log(`File ${file.filepath} successfully saved`);
            } else {
                console.log(`Error while saving file ${file.filepath}`);
            }
        }
        console.log("All files processed");
    }


    function collectFilesData() {
        const files = [];

        $('.file-preview').each(function () {
            const isChecked = $(this).find('.file-checkbox').prop('checked');
            if (!isChecked) return;

            const filePath = $(this).find('.file-path-only').text();
            const code = $(this).find('.coderight').text();

            files.push({
                filepath: filePath,
                code: code,
            });
        });

        return files;
    }

    $(document).on('click', '.save-files', function () {
        sendFilesToServer();
    });

    $(document).ready(function () {
        $('.cloneRep').on('click', function () {
            var button = $(this);
            var projectId = button.data('project-id');
            var originalIcon = button.find('i');
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');

            // Замена иконки на иконку загрузки
            button.html(loadingIcon);

            // Выполнение запроса
            $.ajax({
                url: '/api/clone-repository',
                type: 'GET',
                data: {project_id: projectId},
                success: function (data) {
                    // Обработка успешного выполнения запроса
                    console.log('Успешно:', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Обработка ошибок выполнения запроса
                    console.error('Ошибка:', textStatus, errorThrown);
                },
                complete: function () {
                    // Возврат исходной иконки после выполнения запроса
                    button.html(originalIcon);
                    // Изменение цвета кнопки на серый
                    button.removeClass('btn-success').addClass('btn-secondary').attr('disabled', true);
                }
            });
        });
        $('.cloneGateway').on('click', function () {
            var button = $(this);
            var projectId = button.data('project-id');
            var originalIcon = button.find('i');
            var loadingIcon = $('<i class="fa fa-spinner fa-spin"></i>');

            // Замена иконки на иконку загрузки
            button.html(loadingIcon);

            // Выполнение запроса
            $.ajax({
                url: '/api/clone-gateway',
                type: 'GET',
                data: {project_id: projectId},
                success: function (data) {
                    // Обработка успешного выполнения запроса
                    console.log('Успешно:', data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Обработка ошибок выполнения запроса
                    console.error('Ошибка:', textStatus, errorThrown);
                },
                complete: function () {
                    // Возврат исходной иконки после выполнения запроса
                    button.html(originalIcon);
                    // Изменение цвета кнопки на серый
                    button.removeClass('btn-success').addClass('btn-secondary').attr('disabled', true);
                }
            });
        });


        // Кнопка для нажатия всех кнопок 'cloneRep'
        $('.pressAllCloneRep').on('click', function () {
            $('.cloneRep').click();
        });
    });

</script>

{{ template "_footer" .}}
{{ end }}
